/* Здесь вы напишете основную часть стилей страницы.sepi

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--theme-bg-color);
  font-family: var(--regular-font), sans-serif;
  color: var(--accent-color);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 102px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: var(--page-section-size);
  box-sizing: border-box;
  border: 2px solid var(--accent-color);
  background-color: var(--theme-bg-color);
  font-family: var(--stylish-font), fantasy;
  padding: var(--header-padding);
  margin: 0 auto;
}

.header-title-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-logo {
  font-size: var(--header-logo-size);
}

.header-title {
  font-size: var(--header-title-size);
  text-align: center;
}

button {
 position: relative;
 font-family: var(--stylish-font), fantasy;
 transition: box-shadow 0.3s ease;
 border: 2px solid var(--accent-color);
 background-color: var(--theme-bg-color);
 cursor: pointer;
}

.button::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  background-color: var(--accent-color);
  transform-origin: left;
}

.button:hover::after {
  transform: scaleX(1);
}

.header__theme-menu {
  margin-block-start: 22px;
  margin-inline-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  display: block;
  top: 0;
  left: -20px;
  animation: movement 0.5s ease-in-out infinite alternate;
}

.theme-menu__list .theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  transition: transform 0.3s ease;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__list .theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__list .theme-menu__button:disabled {
  position: relative;
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__list .theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__list .theme-menu__button:focus-visible:after {
  transform: scaleX(1);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--page-section-size);
  margin: 0 auto;
}

.article {
  border: 2px solid var(--accent-color);
  overflow: hidden;
  background-color: var(--theme-bg-color);
}

.article:first-of-type {
  margin-block-start: 104px;
}

.decorated-text {
  content: '';
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--stylish-font), fantasy;
  font-variation-settings: 'wght' var(--font-weight);
  font-size: 14px;
  line-height: normal;
  opacity: 0.5;
  text-shadow: 1px var(--theme-bg-color);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--theme-bg-color)) or (-webkit-text-stroke: 1px var(--theme-bg-color)) {
  .decorated-text {
    text-stroke: 1px var(--theme-bg-color);
    -webkit-text-stroke: 1px var(--theme-bg-color);
    text-shadow: none;
  }
}

.section_title-container {
  padding: 5px 9px;
}

.section_title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-title);
}

.section_content {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.image_container {
  position: relative;
  overflow: hidden;
  border-block: 2px solid var(--accent-color);
}

.image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.filter_saturate {
  filter: saturate(150%);
}

.filter_contrast {
  filter: contrast(200%);
}

.filter_brightness {
  filter: brightness(150%);
}

.filter_blur {
  filter: blur(3px);
}

.filter_contrast_low {
  filter: contrast(150%);
}

.filter_invert {
  filter: invert(1);
}

.filter_multiple {
  filter: grayscale(200%) blur(2px);
}

.filter_multiple_2 {
  filter: brightness(200%) saturate(120%);
}

.section_paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.section_paragraph {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight);
  line-height: 21px;
}

.section_button-container {
  margin-block-start: 25px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  block-size: 40px;
  inline-size: 43px;
  background-color: transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  width: 130px;
  height: 40px;
  font-family: var(--stylish-font), fantasy;
  border: 2px solid var(--accent-color);
  background-color: transparent;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button__text {
  position: relative;
  color: var(--button-text-color);
  z-index: 1;
  mix-blend-mode: difference;
  font-size: 14px;
  text-wrap: nowrap;
}

.floppy-disk-image {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button-save {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 auto 105px;
  padding: 15px 20px;
  inline-size: clamp(19.375rem, 18.737rem + 2.72vw, 21.188rem);
}

.button-save:focus {
  outline: none;
}

.button-save:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

dialog {
  inline-size: clamp(21.313rem, 20.96rem + 1.5vw, 22.313rem);
  padding: 32px;
  background-color: var(--theme-bg-color);
  border: 2px solid var(--accent-color);
}

.dialog-text {
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--stylish-font), fantasy;
  font-size: 14px;
  line-height: 150%;
}

.dialog-content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.dialog-button {
  inline-size: 100%;
}

.floppy-dialog {
  width: 79px;
  height: 39px;
}

dialog::backdrop {
  background-color: rgb(0,0,0);
  opacity: 0.75;
}

@media (width < 1024px) {
  .button-save {
    flex-direction: column;
  }

  .floppy-disk-image {
    width: 28px;
    height: 28px;
  }

  .floppy-dialog {
    width: 45px;
    height: 21px;
  }
}



